/* universal */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* header */
.header{
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    text-align: right;

}

.header-text{
    padding: 230px;
    position: absolute;

    right: 0;
    width: 500px;
    border: 0 solid none;

}

.header-text>h1{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.header-text>p{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.header-text>button{
    background: #F15B22;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 20px;
}

/* body main */
/* failures */
.failures{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 130px 322px 50px;
}

.failures-text{
    right: 0;
    width: 500px;
    border: 0 solid none;
    padding-top: 250px;

}

.failures-text>h2{
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
}

.failures-text>p{
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
}

.failures-text>ul>li{
    font-weight: 400;
    font-size: 16px;
}

.failures-text>ul{
    list-style: none;
}
.failures-text>ul>li>i{
    color: green;
}
/* resolutions */
.resolutions{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 130px 322px 50px;
}

.resolutions-text{
    right: 0;
    width: 500px;
    border: 0 solid none;
    padding-top: 45px;
}

.resolutions-text>h2{
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
}

.resolutions-text>p{
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
}

.resolutions-text>ul>li{
    font-weight: 400;
    font-size: 16px;
}

.resolutions-text>ul{
    list-style: none;
}
.resolutions-text>ul>li>i{
    color: green;
}

/* plans */
.plans{
    text-align: center;
    margin-top: 50px;
    padding: 130px 322px 50px;
}

.plans>h2{
    font-weight: 700;
    font-size: 40px;
    padding: 50px;
}

.plans>ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.plans>ul>li{
    padding: 50px;
}

.plans>ul>li>h2{
    font-weight: 700;
    font-size: 30px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.plans>ul>li>p{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* call */
.call{
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url('../images/watch.png');
    background-repeat: no-repeat;
    margin: 50px 360px 50px 420px;
    width: 1140px;
    border-radius: 8px;
    text-align: left;
}
.call-text{
    padding: 54px;
    right: 0;
    width: 460px;
    border: 0 solid none;
}

.call>.call-text>h2{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 10px;
}

.call>.call-text>button{ 
    padding: 10px;
    background: #FFFFFF;
    color: #F15B22;
    margin: 15px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
/* footer */
footer{
    margin-top: 200px;
    padding: 250px;
    background-color: #151414;
    display: flex;
    justify-content: space-around; 
}
.future{
    right: 0;
    width: 500px;
    border: 0 solid none;
    color: #FFFFFF;
}
.future>h2{
    font-weight: 700;
    font-size: 45px;
}
.future>p{
    padding-top: 16px;
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
}
.future>section>img{
    padding-top: 8px;
    padding-right: 10px;
}

.subscribe{
    color: #FFFFFF; 
}
.subscribe>h2{
    padding: 15px;
}
.subscribe>input{
    padding: 10px;
    color: #FFFFFF;
    margin: 15px;
    font-weight: 400;
    font-size: 18px;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
}
.subscribe>input:read-write{
    background-color: #151414;
}

.subscribe>button{
    padding: 20px;
    color: #F15B22;
    margin: 15px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
