/* universal */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* header */
.header {
    background-image: url('/images/banner/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    text-align: right;

}

.header-text {
    padding: 230px;
    position: absolute;

    right: 0;
    width: 500px;
    border: 0 solid none;

}

.header-text>h1 {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.header-text>p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.header-text>button {
    background: #F15B22;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 20px;
}

/* body main */
/* failures */
.failures {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 130px 322px 50px;
}

.failures-text {
    right: 0;
    width: 500px;
    border: 0 solid none;
    padding-top: 250px;

}

.failures-text>h2 {
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
}

.failures-text>p {
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
}

.failures-text>ul>li {
    font-weight: 400;
    font-size: 16px;
}

.failures-text>ul {
    list-style: none;
}

.failures-text>ul>li:before {
    content: '✓';
    color: green;
    font-weight: 300;
}

/* resolutions */
.resolutions {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 130px 322px 50px;
}

.resolutions-text {
    right: 0;
    width: 500px;
    border: 0 solid none;
    padding-top: 45px;

}

.resolutions-text>h2 {
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
}

.resolutions-text>p {
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
}

.resolutions-text>ul>li {
    font-weight: 400;
    font-size: 16px;
}

.resolutions-text>ul {
    list-style: none;
}

.resolutions-text>ul>li:before {
    content: '✓';
    color: green;
    font-weight: 300;
}

/* plans */
.plans {
    text-align: center;
    margin-top: 50px;
    padding: 130px 322px 50px;
}

.plans>h2 {
    font-weight: 700;
    font-size: 40px;
    padding: 50px;
}

.plans>ul {

    list-style: none;
    display: flex;
    justify-content: space-around;
}

.plans>ul>li {
    padding: 50px;
}

.plans>ul>li>h2 {
    font-weight: 700;
    font-size: 30px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.plans>ul>li>p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;

}
